html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #688C82;
}
.container{
    background-color: aliceblue;
    max-width: 1100px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}
.bold{
    font-weight: bold;
}

.main-title{
    font-size: 40px;
    text-align: center;
}
.main-paragraph{
    font-style: italic;
    text-align: center;
}

.featured-image{
    text-align: center;
    margin: 30px;
}

.paragraph-container{
    padding: 25px 0;
    margin: 25px 0;
    font-size: 17px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.quotes-container{
    background-color: #ddd;
    font-size: 25px;
    text-align: center;
}
.quotes-container blockquote{
    font-weight: bold;
    padding: 30px;
}

.quotes-container p{
    font-style: italic;
}

.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd ;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li{
    line-height: 30px;
}

.listbook-container{
    text-align: justify;

}
.listbook-container li{
    line-height: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: crimson;
}
.books-container{
    text-align: center;
}